<div>
        <div class="alert alert-success" id="success-alert" ng-if="vm.successMessage">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Password changed successfully ! </strong>
            
            </div>
            <div class="alert alert-danger alert-dismissible fade in" ng-if="vm.userInactive">
                    <button type="button" class="close" data-dismiss="alert">x</button>     
                    <strong>Your password and confirmation password do not match. !</strong>        
            </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Change Password</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
   
    <div class="row">
       
        <div class="col-lg-8 col-xlg-9 col-md-12">
            <div class="card">
                <div class="card-block">
                    <form class="form-horizontal form-material" name="myform">
                        <div class="form-group">
                            <label class="col-md-12">Old Password</label>
                            <div class="col-md-12">
                                <input type="password" ng-required="true" ng-model="vm.user.oldpassword" placeholder="Old Password" class="form-control form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">New Password</label>
                            <div class="col-md-12">
                                <input type="password" ng-required="true" ng-model="vm.user.newpassword" placeholder="New Password" class="form-control form-control-line" name="example-email" id="example-email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Confirm Password</label>
                            <div class="col-md-12">
                                <input type="password" ng-required="true" ng-model="vm.user.usercpassword" placeholder="Confirm Password" value="" class="form-control form-control-line">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button class="btn btn-success" ng-click="myform.$valid && vm.changePassword()">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    
   
   
    <!-- /.row -->
</div>
